@model TravelExperts_CPRG214_Final_JayGervais.Models.Customer

@{
    ViewBag.Title = "Index";
}
    <div class="container body-content">
        <h2>Thank you for signing up. You can now log into your <a href="~/CustomerLogin/Login">account</a>.</h2>
    </div>
