@model TravelExperts_CPRG214_Final_JayGervais.Models.CustomerLogin
@{
    ViewBag.Title = "Logout";
}

@{
    Response.Redirect("~/CustomerLogin/Login");
}

<h2>Logout</h2>
<!--
Customer Logout redirect page by Jay Gervais
-->
