@{
    ViewBag.Title = "Travel Experts";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<hr />
<div class="row">
    <div class="col-md-3">
        <div class="imgabout"></div>
    </div>
    <div class="col-md-3">
        <div class="imgabout"></div>
    </div>
    <div class="col-md-3">
        <div class="imgabout"></div>
    </div>
    <div class="col-md-3">
        <div class="imgabout"></div>
    </div>
</div>

<p class="topspace">Travel Experts offers incredible vacation experiences to all travelers. We have connections with multiple Travel Agencies and Agents to ensure you find the best package possible. Search our packages to find your next travel destination!</p>

<p>Register for an account on our site to stay up to date with your vacation plans. You can view your recent vacation purchases along with your total. We look forward to helping you plan your next travels.</p>

<p>
    <div class="imgcontactbig"></div>
</p>