@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<hr />

<address>
    <strong>Calgary Office</strong><br />
    5432 23 Ave SW<br />
    <abbr title="Phone">P:</abbr>
    403.555.5454
</address>

<address>
    <strong>Okotoks Office</strong><br />
    334 32 Mountain View<br />
    <abbr title="Phone">P:</abbr>
    403.665.5653
</address>

<address>
    <strong>Email:</strong>   <a href="#">info@travelexperts.ca</a><br />
</address>