@{
    ViewBag.Title = "Home Page";
}
    
    <div class="row">
        <div class="col-md-4">
            <h2>Adventure</h2>
            <p>
                <img class="img100radius" src="~/Images/beachvan.jpg" />
            </p>
            <p>
                Get out and try surfing, bike extraordinary cities, or try skydiving. We have something for everyone so you can get the thrills you are looking for.
            </p>
            <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
        </div>
        <div class="col-md-4">
            <h2>Relax</h2>
            <p>
                <img class="img100radius" src="~/Images/asia.jpg" />
            </p>
            <p>Escape from your busy lifestyle with the ultimate in relaxation. Enjoy time on some of the world’s best beaches with a spa package to leave you refreshed.</p>
            <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
        </div>
        <div class="col-md-4">
            <h2>Explore</h2>
            <p>
                <img class="img100radius" src="~/Images/mountainbeach.jpg" />
            </p>
            <p>Explore some of the world’s most exciting cities with planned excursions you will never forget. We can plan your next vacation to accommodate for groups of all sizes.</p>
            <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
        </div>
    </div>

