/* 
    Custom styles written by Jay Gervais 
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

p {
    font-size: 120%;
    color: #004b4f;
}

.white {
    color: #fff;
    text-shadow: 0px 0px 0px rgba(150, 150, 150, 1);
    padding-top: 20px;
}

.jumbotron {
    background-image: url('../Images/bridge.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}

.jumbotron h1 {
    font-weight: bold;
    text-shadow: 4px 0px 5px #000;
    color: #fff;
    font-size: 100px;
}

.jumbotron p {
    font-weight: bold;
    text-shadow: 4px 0px 5px #000;
    color: #fff;
}

.btn.btn-primary.btn-lg {
    background-color: #004b4f;
    border-color: #004b4f;
    border-radius: 0px;
}

a.btn.btn-primary.btn-lg:hover {
    background-color: #14a83c;
    border-color: #14a83c;
}

footer {
    text-align: center;
}

.card {
    width: 100% !important;
    margin-bottom: 30px;
    border-radius: 25px;
    -webkit-box-shadow: 0 8px 25px -15px black;
    -moz-box-shadow: 0 8px 25px -15px black;
    box-shadow: 0 8px 25px -15px black;
}

.card-body {
    padding: 20px;
}

.card-img-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
}

a.btn.btn-primarybtn-lg

.btn-primary {
    background-color: #004b4f !important;
    border-color: #004b4f !important;
}

.btn-primary:hover {
    background-color: #A1591F !important;
    border-color: #A1591F !important;
}

p.dates {
    font-weight: lighter;
    font-size: 85%;
    opacity: 0.65;
}

.card-title {
    font-weight: bold;
    opacity: 0.85;
    color: #004b4f;
    font-size: 30px;
}

.card-text.price {
    font-weight: bold;
    color: #004a1a;
    opacity: 0.85;
    font-size: 150%;
}

.lightcolor {
    background-color: #f9f9f9;
    border: 1px solid #004b4f;
}

img.img100radius {
    width: 100%;  
}

.imghomebig {
    width: 100%;
    border: 1px solid #004b4f;
    height: 250px;
    background-image: url('../Images/boatmountains.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}

.imghomebigbottom {
    width: 100%;
    border: 1px solid #004b4f;
    height: 250px;
    background-image: url('../Images/blue-4145659_1920.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 70px;
    text-align: center;
}

.topspace{
    padding-top: 10px;
}

.imgcontactbig {
    width: 100%;
    border: 1px solid #004b4f;
    height: 250px;
    background-image: url('../Images/mediterranean.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}

.titlebox {
    background-color: #004b4f;
    padding-top: 0.5px;
    padding-bottom: 5.5px;
    text-align: center;
}

h2.titlebox {
    color: #fff;
}

.imgadventure {
    width: 100%;
    border: 1px solid #004b4f;
    height: 280px;
    background-image: url('../Images/beachvan.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}

.imgabout {
    width: 100%;
    border: 1px solid #004b4f;
    height: 280px;
    background-image: url('../Images/mountainbeach.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}

.btn.btn-primary a {
    color: #fff !important;
    list-style-type: none;
    text-decoration: none !important;
}

.btn.btn-primary a:hover {
    list-style-type: none !important;
    text-decoration: none !important;
}

div.btn.btn-primary > a {
    text-decoration: none !important;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #004b4f;
    border-color: #004b4f;
    -webkit-box-shadow: 0 8px 25px -15px black;
    -moz-box-shadow: 0 8px 25px -15px black;
    box-shadow: 0 8px 25px -15px black;
}

.navbar.navbar-inverse.navbar-fixed-top a {
    color: #d9d9d9;
}

h2 {
    color: #004b4f;
    font-weight: bold;
}

.pkgh2 {
    padding-bottom: 15px;
}