/* 
    Custom styles written by Jay Gervais 
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-image: url('../Images/bridge.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}

.jumbotron h1 {
    font-weight: bold;
    text-shadow: 4px 0px 5px #000;
    color: #fff;
    font-size: 100px;
}

.jumbotron p {
    font-weight: bold;
    text-shadow: 4px 0px 5px #000;
    color: #fff;
}

.btn.btn-primary.btn-lg {
    background-color: #007a4b;
    border-color: #007a4b;
}

a.btn.btn-primary.btn-lg:hover {
    background-color: #14a83c;
    border-color: #14a83c;
}

footer {
    text-align: center;
}

.card {
    width: 100% !important;
    margin-bottom: 30px;
    border-radius: 25px;
    -webkit-box-shadow: 0 8px 25px -15px black;
    -moz-box-shadow: 0 8px 25px -15px black;
    box-shadow: 0 8px 25px -15px black;
}

.card-body {
    padding: 20px;
}

.card-img-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
}

.btn-primary {
    background-color: #004b4f !important;
    border-color: #004b4f !important;
}

.btn-primary:hover {
    background-color: #A1591F !important;
    border-color: #A1591F !important;
}

p.dates {
    font-weight: lighter;
    font-size: 85%;
    opacity: 0.65;
}

.card-title {
    font-weight: bold;
    color: #004b4f;
    font-size: 30px;
}

.validation-summary-errors text-danger ul li {
    list-style-type: none;
}

img.img100radius {
    width: 100%;
    border-radius:5%;
}